:root * {
    font-family: 'Montserrat', sans-serif;
}

/* .navbar-item {
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding: .5rem 1rem;
    margin-right: 1rem;
}

.navbar-item.active {
    border: 1px solid white;
}

@media screen and (max-width: 40rem) {
    .navbar {
        
    }
} */